.component9-container {
  display: flex;
  position: relative;
}
@media(max-width: 767px) {
  .component9-text {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .component9-text {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
