.component8-container {
  display: flex;
  position: relative;
}
.component8-button {
  width: 100%;
}
.component8-root-class-name {
  left: 0px;
  right: 0px;
  bottom: 74px;
  margin: auto;
  position: absolute;
}
